BS368-Get-BSB-Details.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	WSDL file generated by script Generate_WSDLs.groovy - any changes will be overwritten if this script is run again  
-->
<wsdl:definitions 	
	name="BS368-Get-BSB-Details"
	targetNamespace="http://bendigoadelaide.com.au/service/ebanking/batch" 

	xmlns:ebankingbatch="http://bendigoadelaide.com.au/service/ebanking/batch" 

	xmlns:cmm="http://bendigobank.com.au/hub/schema"
	xmlns:meta="http://bendigoadelaide.com.au/hub/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	>

	<wsdl:documentation>
		<wsdl:appinfo source="WMQI_APPINFO">
			<MRWSDLAppInfo imported="true">
				<generatedXSD location="BS368-Get-BSB-Details.xsd" />
				<generatedXSD location="HUB_Exception.xsd" />
				<generatedXSD location="HUB_Header_metadata.xsd" />
				<generatedXSD location="HUB_Header_Security.xsd" />
				<binding hasEncoding="false" imported="true" name="SoapBinding" originalBindingStyle="document" />
			</MRWSDLAppInfo>
		</wsdl:appinfo>
	</wsdl:documentation>

	<wsdl:types>

		<xsd:schema elementFormDefault="qualified" targetNamespace="http://bendigoadelaide.com.au/service/ebanking/batch">
			<xsd:include schemaLocation="BS368-Get-BSB-Details.xsd" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://bendigobank.com.au/hub/schema">
			<xsd:include schemaLocation="HUB_Exception.xsd" />
		</xsd:schema>

		<xsd:schema elementFormDefault="qualified" targetNamespace="http://bendigoadelaide.com.au/hub/metadata">
			<xsd:include schemaLocation="HUB_Header_metadata.xsd" />
		</xsd:schema>

		<xsd:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
			<xsd:include schemaLocation="HUB_Header_Security.xsd" />
		</xsd:schema>

	</wsdl:types>

	<wsdl:message name="BS368-Get-BSB-Details-Request">
		<wsdl:part element="ebankingbatch:GetBSBDetailsRequest" name="request" />
	</wsdl:message>

	<wsdl:message name="BS368-Get-BSB-Details-Response">
		<wsdl:part element="ebankingbatch:GetBSBDetailsResponse" name="response" />
	</wsdl:message>

	<wsdl:message name="Exception">
		<wsdl:part element="cmm:Exception" name="fault" />
	</wsdl:message>

	<wsdl:message name="SoapHeader">
		<wsdl:part element="wsse:Security" name="wsse_security" />
		<wsdl:part element="meta:application" name="meta_application" />
		<wsdl:part element="meta:brand" name="meta_brand" />
		<wsdl:part element="meta:instance" name="meta_instance" />
		<wsdl:part element="meta:version" name="meta_version" />
	</wsdl:message>


	<wsdl:portType name="Soap">

		<wsdl:operation name="BS368-Get-BSB-Details">
			<wsdl:input message="ebankingbatch:BS368-Get-BSB-Details-Request" />
			<wsdl:output message="ebankingbatch:BS368-Get-BSB-Details-Response"  />
			<wsdl:fault message="ebankingbatch:Exception" name="fault"/>
		</wsdl:operation>

	</wsdl:portType>


	<wsdl:binding name="SoapBinding" type="ebankingbatch:Soap">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="BS368-Get-BSB-Details">
			<soap:operation soapAction="http://bendigoadelaide.com.au/service/ebanking/batch/BS368-Get-BSB-Details" />
			<wsdl:input>
				<soap:body use="literal" />	
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="wsse_security" wsdl:required="true" />
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="meta_application" wsdl:required="true" />
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="meta_brand" wsdl:required="true" />
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="meta_instance" wsdl:required="true" />			
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="meta_version" wsdl:required="false" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="BS368-Get-BSB-Details-SOAP-API">
		<wsdl:documentation>Get BSB Details</wsdl:documentation>
		<wsdl:port binding="ebankingbatch:SoapBinding" name="Port">
			<soap:address location="localhost:7800/EBankingBatchApplication" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
