BS368-Get-BSB-Details.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	WSDL file generated by script Generate_WSDLs.groovy - any changes will be overwritten if this script is run again  
-->
<wsdl:definitions 	
	name="BS368-Get-BSB-Details"
	targetNamespace="http://bendigoadelaide.com.au/service/ebanking/batch" 

	xmlns:ebankingbatch="http://bendigoadelaide.com.au/service/ebanking/batch" 

	xmlns:cmm="http://bendigobank.com.au/hub/schema"
	xmlns:meta="http://bendigoadelaide.com.au/hub/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	>

	<wsdl:types>

<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	targetNamespace="http://bendigoadelaide.com.au/service/ebanking/batch" 
	xmlns:ebankingbatch="http://bendigoadelaide.com.au/service/ebanking/batch"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	>
    	
	<xsd:element ibmSchExtn:docRoot="true" name="GetBSBDetailsRequest">
      	<xsd:annotation>
    		<xsd:documentation>There is no data for this request, just the root element should be provided</xsd:documentation>
    	</xsd:annotation>
	</xsd:element>

	<xsd:element ibmSchExtn:docRoot="true" name="GetBSBDetailsResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="BSBDetail">
      				<xsd:complexType>
      					<xsd:sequence>
      						<xsd:element name="BSB" type="xsd:string" />
      						<xsd:element name="Bank" type="xsd:string" />
      						<xsd:element minOccurs="0" name="BranchName" type="xsd:string" />
      						<xsd:element minOccurs="0" name="AddressLine1" type="xsd:string" />
      						<xsd:element minOccurs="0" name="City" type="xsd:string" />
      						<xsd:element minOccurs="0" name="State" type="xsd:string" />
      						<xsd:element minOccurs="0" name="Postcode" type="xsd:string" />
      						<xsd:element minOccurs="0" name="Codes" type="xsd:string" />
      					</xsd:sequence>
      				</xsd:complexType>
				</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
	</xsd:element>
      
</xsd:schema>

<xsd:schema 
	targetNamespace="http://bendigobank.com.au/hub/schema"
	xmlns:cmm="http://bendigobank.com.au/hub/schema" 
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
	<xsd:element ibmSchExtn:docRoot="true" name="Exception"
		type="cmm:ExceptionType" />
	<xsd:complexType name="ExceptionType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" />
			<xsd:element name="Description" type="xsd:string" />
			<xsd:element maxOccurs="1" minOccurs="0" name="Severity"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Valid Values:&lt;br/&gt;
						I = Info&lt;br/&gt;
						W = Warning&lt;br/&gt;
						E = Exception&lt;br/&gt;
						C = Critical
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>

<xsd:schema 
	elementFormDefault="qualified"
	targetNamespace="http://bendigoadelaide.com.au/hub/metadata"
	xmlns:meta="http://bendigoadelaide.com.au/hub/metadata" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
	<xsd:element name="application" type="xsd:string" />
	<xsd:element name="brand" type="xsd:string" />
	<xsd:element name="instance" type="xsd:string" />
	<xsd:element name="version" type="xsd:string" />
	
</xsd:schema>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" 
	blockDefault="#all"
	elementFormDefault="qualified"
	targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	version="0.2"
	xmlns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">

	<xsd:element name="Security">

		<xsd:annotation>
			<xsd:documentation>This element defines the wsse:Security SOAP header element per Section 4.
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UsernameToken">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Username" type="xsd:string" default="username"/>
							<xsd:element name="Password" type="xsd:string" default="password"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>

	</xsd:element>
</xsd:schema>

	</wsdl:types>

	<wsdl:message name="BS368-Get-BSB-Details-Request">
		<wsdl:part element="ebankingbatch:GetBSBDetailsRequest" name="request" />
	</wsdl:message>

	<wsdl:message name="BS368-Get-BSB-Details-Response">
		<wsdl:part element="ebankingbatch:GetBSBDetailsResponse" name="response" />
	</wsdl:message>

	<wsdl:message name="Exception">
		<wsdl:part element="cmm:Exception" name="fault" />
	</wsdl:message>

	<wsdl:message name="SoapHeader">
		<wsdl:part element="wsse:Security" name="wsse_security" />
		<wsdl:part element="meta:application" name="meta_application" />
		<wsdl:part element="meta:brand" name="meta_brand" />
		<wsdl:part element="meta:instance" name="meta_instance" />
		<wsdl:part element="meta:version" name="meta_version" />
	</wsdl:message>


	<wsdl:portType name="Soap">

		<wsdl:operation name="BS368-Get-BSB-Details">
			<wsdl:input message="ebankingbatch:BS368-Get-BSB-Details-Request" />
			<wsdl:output message="ebankingbatch:BS368-Get-BSB-Details-Response"  />
			<wsdl:fault message="ebankingbatch:Exception" name="fault"/>
		</wsdl:operation>

	</wsdl:portType>


	<wsdl:binding name="SoapBinding" type="ebankingbatch:Soap">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="BS368-Get-BSB-Details">
			<soap:operation soapAction="http://bendigoadelaide.com.au/service/ebanking/batch/BS368-Get-BSB-Details" />
			<wsdl:input>
				<soap:body use="literal" />	
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="wsse_security" wsdl:required="true" />
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="meta_application" wsdl:required="true" />
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="meta_brand" wsdl:required="true" />
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="meta_instance" wsdl:required="true" />			
				<soap:header message="ebankingbatch:SoapHeader" use="literal" part="meta_version" wsdl:required="false" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="BS368-Get-BSB-Details-SOAP-API">
		<wsdl:documentation>Get BSB Details</wsdl:documentation>
		<wsdl:port binding="ebankingbatch:SoapBinding" name="Port">
			<soap:address location="localhost:7800/EBankingBatchApplication" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
