HUB_Header_metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified"
	targetNamespace="http://bendigoadelaide.com.au/hub/metadata"
	xmlns:meta="http://bendigoadelaide.com.au/hub/metadata" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
	<xsd:element name="application" type="xsd:string" />
	<xsd:element name="brand" type="xsd:string" />
	<xsd:element name="instance" type="xsd:string" />
	<xsd:element name="version" type="xsd:string" />
	
</xsd:schema>