TestApplication/BS368-Get-BSB-Details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" 
	targetNamespace="http://bendigoadelaide.com.au/service/ebanking/batch" 
	xmlns:ebankingbatch="http://bendigoadelaide.com.au/service/ebanking/batch"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	>
    	
	<xsd:element ibmSchExtn:docRoot="true" name="GetBSBDetailsRequest">
      	<xsd:annotation>
    		<xsd:documentation>There is no data for this request, just the root element should be provided</xsd:documentation>
    	</xsd:annotation>
	</xsd:element>

	<xsd:element ibmSchExtn:docRoot="true" name="GetBSBDetailsResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="unbounded" minOccurs="0" name="BSBDetail">
      				<xsd:complexType>
      					<xsd:sequence>
      						<xsd:element name="BSB" type="xsd:string" />
      						<xsd:element name="Bank" type="xsd:string" />
      						<xsd:element minOccurs="0" name="BranchName" type="xsd:string" />
      						<xsd:element minOccurs="0" name="AddressLine1" type="xsd:string" />
      						<xsd:element minOccurs="0" name="City" type="xsd:string" />
      						<xsd:element minOccurs="0" name="State" type="xsd:string" />
      						<xsd:element minOccurs="0" name="Postcode" type="xsd:string" />
      						<xsd:element minOccurs="0" name="Codes" type="xsd:string" />
      					</xsd:sequence>
      				</xsd:complexType>
				</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
	</xsd:element>
      
</xsd:schema>